* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  width: 1898px;
}

.first-part {
  position: absolute;
  height: 1067px;
  width: 1898px;
  left: 0px;
  top: 0px;
  background-color: #FFFFFF;
}

.logo {
  position: absolute;
  top: 30px;
  left: 300px;
  right: 1382.81px;
}

.menu-bar {
  width: 700px;
  height: 22px;
}

.menu-bar > button {
  position: relative;
  padding-right: 20px;
  top: 42px;
  left: 645px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: black;
  font-size: 16px;
  font-weight: 600;
  font-family: "Arial";
  letter-spacing: 0em;
  text-align: left;
}

.breg {
  box-sizing: border-box;
  position: absolute;
  width: 80px;
  height: 30px;
  right: 720px;
  top: 37px;
  background: #F16214;
  border: 1.5px solid #F16214;
  border-radius: 120px;
  color: #FFFFFF;
  cursor: pointer;
}

.imgs {
  width: 945px;
  height: 600px;
  margin-left: 954px;
  margin-top: -24px;
}

.imgs > .sushi {
  position: absolute;
  left: 583px;
}

.heading1 {
  position: absolute;
  width: 450px;
  height: 273px;
  left: 300px;
  top: 216px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 600;
  font-size: 75px;
  line-height: 91px;
  color: #000000;
}

.text1 {
  position: absolute;
  width: 570px;
  height: 66px;
  left: 300px;
  top: 504px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #888888;
}

.but2 {
  position: absolute;
  width: 170px;
  height: 50px;
  left: 301px;
  top: 610px;
  background: #F16214;
  border-radius: 54px;
  border: none;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  padding-right: 50px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 425px;
  top: 615px;
  border-radius: 120px;
  background: #FFFFFF;
}

.face {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 300px;
  top: 700px;
}

.insta {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 363px;
  top: 700px;
}

.twit {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 426px;
  top: 700px;
}

.linked {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 489px;
  top: 700px;
}

.icons {
  position: absolute;
  width: 1170px;
  height: 217px;
  left: 300px;
  top: 850px;
  background: #FFFFFF;
  box-shadow: 0px 22px 52px rgba(0, 0, 0, 0.07);
  border-radius: 60px 0px;
}

.time {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 165px;
  top: 60px;
}

.head-time {
  position: absolute;
  width: 196px;
  height: 19px;
  left: 95px;
  top: 116px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.txt-time {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 150px;
  top: 141px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #888888;
}

.line1 {
  position: absolute;
  width: 97px;
  height: 0px;
  left: 350px;
  top: 100px;
  border: 1px solid #DDDDDD;
  transform: rotate(90deg);
}

.loc {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 566px;
  top: 60px;
}

.loc-head {
  position: absolute;
  width: 197px;
  height: 19px;
  left: 495px;
  top: 116px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.txt-loc {
  position: absolute;
  width: 74px;
  height: 16px;
  left: 549px;
  top: 141px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #888888;
}

.line2 {
  position: absolute;
  width: 97px;
  height: 0px;
  left: 750px;
  top: 100px;
  border: 1px solid #DDDDDD;
  transform: rotate(90deg);
}

.phone {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 966px;
  top: 60px;
}

.head-tel {
  position: absolute;
  width: 103px;
  height: 19px;
  left: 934px;
  top: 116px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.txt-tel {
  position: absolute;
  width: 61px;
  height: 16px;
  left: 955px;
  top: 141px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #888888;
}

.second-part {
  position: absolute;
  height: 700px;
  width: 1898px;
  left: 0px;
  top: 1067px;
  background-color: #FFFFFF;
}

.second-sushi {
  position: absolute;
  width: 1039px;
  height: 694px;
  top: 0px;
}

.little-title {
  position: absolute;
  width: 82px;
  height: 17px;
  left: 974px;
  top: 158px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16214;
}

.head-2 {
  position: absolute;
  width: 480px;
  height: 98px;
  left: 974px;
  top: 181px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}

.text2 {
  position: absolute;
  width: 540px;
  height: 139px;
  left: 974px;
  top: 324px;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #888888;
}

.but3 {
  position: absolute;
  width: 160px;
  height: 50px;
  left: 975px;
  top: 492px;
  background: #F16214;
  border-radius: 54px;
  border: none;
  padding-right: 50px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  cursor: pointer;
}

.arrow2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1090px;
  top: 497px;
  background: #FFFFFF;
  border-radius: 120px;
}

.third-part {
  position: absolute;
  width: 1898px;
  height: 723px;
  left: 0px;
  top: 1767px;
  background-color: #FFFFFF;
}

.little-title2 {
  position: absolute;
  width: 56px;
  height: 17px;
  left: 933px;
  top: 97px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16214;
}

.head-3 {
  position: absolute;
  width: 571px;
  height: 49px;
  left: 690px;
  top: 120px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}

.icons-p1 {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 395px;
  left: 375px;
  top: 228px;
  border: 2px solid #EEEEEE;
  border-radius: 60px 0px;
}

.icon1 {
  height: 80px;
  width: 80px;
  margin-top: 70px;
  margin-left: 145px;
}

.icon-h1 {
  width: 191px;
  height: 32px;
  margin-left: 100px;
  margin-top: 44px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
}

.icon-txt1 {
  width: 300px;
  height: 75px;
  margin-left: 30px;
  margin-top: 22px;
  font-family: "calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #888888;
}

.icons-p2 {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 395px;
  left: 775px;
  top: 228px;
  border: 2px solid #EEEEEE;
  border-radius: 60px 0px;
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1);
}

.icon2 {
  height: 80px;
  width: 80px;
  margin-top: 70px;
  margin-left: 145px;
}

.icon-h2 {
  width: 191px;
  height: 32px;
  margin-left: 100px;
  margin-top: 44px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
}

.icon-txt2 {
  width: 300px;
  height: 75px;
  margin-left: 30px;
  margin-top: 22px;
  font-family: "calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #888888;
}

.icons-p3 {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 395px;
  left: 1175px;
  top: 228px;
  border: 2px solid #EEEEEE;
  border-radius: 60px 0px;
}

.icon3 {
  height: 80px;
  width: 80px;
  margin-top: 70px;
  margin-left: 145px;
}

.icon-h3 {
  width: 191px;
  height: 32px;
  margin-left: 100px;
  margin-top: 44px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
}

.icon-txt3 {
  width: 300px;
  height: 75px;
  margin-left: 30px;
  margin-top: 22px;
  font-family: "calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #888888;
}

.fourth-part {
  position: absolute;
  width: 1898px;
  height: 1306px;
  left: 0px;
  top: 2490px;
  background-color: #FFFFFF;
}

.little-tittle3 {
  position: absolute;
  width: 52px;
  height: 17px;
  left: 935px;
  top: 97px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16214;
}

.head-4 {
  position: absolute;
  width: 353px;
  height: 49px;
  left: 790px;
  top: 120px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}

.d1 {
  position: absolute;
  width: 370px;
  height: 419px;
  left: 375px;
  top: 228px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}

.m1 {
  width: 370px;
  height: 270px;
  background: #C4C4C4;
  border-radius: 50px 0px 0px 0px;
}

.meal-name {
  width: 151px;
  height: 24px;
  margin-left: 19px;
  margin-top: 14px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.b1 {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 20px;
  bottom: 50px;
  background: #F16214;
  border-radius: 50px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 13px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.star {
  position: absolute;
  left: 315px;
  bottom: 102px;
  border-radius: 1px;
}

.price {
  position: absolute;
  width: 48px;
  height: 24px;
  left: 304px;
  top: 333px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.like {
  position: absolute;
  width: 16px;
  height: 13px;
  left: 335px;
  top: 304px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.d2 {
  position: absolute;
  width: 370px;
  height: 419px;
  left: 785px;
  top: 228px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}

.m1 {
  width: 370px;
  height: 270px;
  background: #C4C4C4;
  border-radius: 50px 0px 0px 0px;
}

.meal-name {
  width: 151px;
  height: 24px;
  margin-left: 19px;
  margin-top: 14px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.b1 {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 20px;
  bottom: 50px;
  background: #F16214;
  border-radius: 50px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 13px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.star {
  position: absolute;
  left: 315px;
  bottom: 102px;
  border-radius: 1px;
}

.price {
  position: absolute;
  width: 48px;
  height: 24px;
  left: 304px;
  top: 333px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.like {
  position: absolute;
  width: 16px;
  height: 13px;
  left: 335px;
  top: 304px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.d3 {
  position: absolute;
  width: 370px;
  height: 419px;
  left: 1195px;
  top: 228px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}

.m2 {
  width: 370px;
  height: 270px;
  background: #C4C4C4;
  border-radius: 50px 0px 0px 0px;
}

.meal-name {
  width: 151px;
  height: 24px;
  margin-left: 19px;
  margin-top: 14px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.b1 {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 20px;
  bottom: 50px;
  background: #F16214;
  border-radius: 50px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 13px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.star {
  position: absolute;
  left: 315px;
  bottom: 102px;
  border-radius: 1px;
}

.price {
  position: absolute;
  width: 48px;
  height: 24px;
  left: 304px;
  top: 333px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.like {
  position: absolute;
  width: 16px;
  height: 13px;
  left: 335px;
  top: 304px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.d4 {
  position: absolute;
  width: 370px;
  height: 419px;
  left: 375px;
  top: 674px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}

.m1 {
  width: 370px;
  height: 270px;
  background: #C4C4C4;
  border-radius: 50px 0px 0px 0px;
}

.meal-name {
  width: 151px;
  height: 24px;
  margin-left: 19px;
  margin-top: 14px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.b1 {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 20px;
  bottom: 50px;
  background: #F16214;
  border-radius: 50px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 13px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.star {
  position: absolute;
  left: 315px;
  bottom: 102px;
  border-radius: 1px;
}

.price {
  position: absolute;
  width: 48px;
  height: 24px;
  left: 304px;
  top: 333px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.like {
  position: absolute;
  width: 16px;
  height: 13px;
  left: 335px;
  top: 304px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.d5 {
  position: absolute;
  width: 370px;
  height: 419px;
  left: 785px;
  top: 674px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}

.m1 {
  width: 370px;
  height: 270px;
  background: #C4C4C4;
  border-radius: 50px 0px 0px 0px;
}

.meal-name {
  width: 151px;
  height: 24px;
  margin-left: 19px;
  margin-top: 14px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.b1 {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 20px;
  bottom: 50px;
  background: #F16214;
  border-radius: 50px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 13px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.star {
  position: absolute;
  left: 315px;
  bottom: 102px;
  border-radius: 1px;
}

.price {
  position: absolute;
  width: 48px;
  height: 24px;
  left: 304px;
  top: 333px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.like {
  position: absolute;
  width: 16px;
  height: 13px;
  left: 335px;
  top: 304px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.d6 {
  position: absolute;
  width: 370px;
  height: 419px;
  left: 1195px;
  top: 674px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}

.m2 {
  width: 370px;
  height: 270px;
  background: #C4C4C4;
  border-radius: 50px 0px 0px 0px;
}

.meal-name {
  width: 151px;
  height: 24px;
  margin-left: 19px;
  margin-top: 14px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.b1 {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 20px;
  bottom: 50px;
  background: #F16214;
  border-radius: 50px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 13px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.star {
  position: absolute;
  left: 315px;
  bottom: 102px;
  border-radius: 1px;
}

.price {
  position: absolute;
  width: 48px;
  height: 24px;
  left: 304px;
  top: 333px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.like {
  position: absolute;
  width: 16px;
  height: 13px;
  left: 335px;
  top: 304px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.but4 {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 860px;
  top: 1156px;
  background: #F16214;
  border-radius: 54px;
  cursor: pointer;
  border: none;
  position: absolute;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  padding-right: 40px;
}

.arrow3 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1015px;
  top: 1161px;
  background: #FFFFFF;
  border-radius: 120px;
}

.fifth-part {
  position: absolute;
  height: 860px;
  width: 1898px;
  left: 0px;
  top: 3796px;
  background-color: #FFFFFF;
}

.phone-back {
  position: absolute;
  width: 1169px;
  height: 400px;
  left: 375px;
  top: 230px;
}

.phone-title {
  position: absolute;
  width: 321px;
  height: 98px;
  left: 402px;
  top: 316px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
}

.playmarket {
  position: absolute;
  width: 220px;
  height: 80px;
  left: 402px;
  top: 464px;
}

.appstore {
  position: absolute;
  width: 220px;
  height: 80px;
  left: 642px;
  top: 464px;
}

.phone1 {
  position: absolute;
  left: 852px;
  top: 50px;
  border-radius: 50px;
}

.phone2 {
  position: absolute;
  left: 1160px;
  top: 100px;
  border-radius: 50px;
}

.sixth-part {
  position: absolute;
  height: 754px;
  width: 1898px;
  left: 0px;
  top: 4656px;
  background-color: #FFFFFF;
}

.little-title4 {
  position: absolute;
  width: 81px;
  height: 17px;
  left: 920px;
  top: 97px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16214;
}

.head5 {
  position: absolute;
  width: 409px;
  height: 49px;
  left: 777px;
  top: 120px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}

.salad {
  position: absolute;
  width: 383.12px;
  height: 373.21px;
  left: 0px;
  top: 32px;
}

.name {
  position: absolute;
  width: 110px;
  height: 19px;
  left: 653px;
  top: 308px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.profile {
  position: absolute;
  left: 558px;
  top: 287px;
}

.special {
  position: absolute;
  width: 110px;
  height: 16px;
  left: 653px;
  top: 330px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #888888;
}

.text-main {
  position: absolute;
  width: 515px;
  left: 375px;
  top: 421px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #888888;
}

.plate {
  position: absolute;
  left: 980px;
  top: 193px;
}

.left-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 566px;
  top: 555px;
}

.right-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 640px;
  top: 555px;
  border-radius: 10px;
}

.seventh-part {
  position: absolute;
  width: 1898px;
  height: 500px;
  left: 0px;
  top: 5410px;
}

.back-b {
  position: absolute;
  width: 1170px;
  height: 300px;
  left: 375px;
  top: 100px;
}

.burger {
  position: absolute;
  width: 460px;
  height: 460px;
  left: 408px;
  top: 0px;
}

.head6 {
  position: absolute;
  width: 504px;
  height: 49px;
  left: 974px;
  top: 151px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
}

.text-2 {
  position: absolute;
  width: 460px;
  height: 45px;
  left: 974px;
  top: 215px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #888888;
}

.input {
  position: absolute;
  width: 470px;
  height: 60px;
  left: 974px;
  top: 289px;
  background: #FFFFFF;
  border-radius: 13px;
  font-size: 25px;
  padding-left: 20px;
  border: none;
  outline: none;
  padding-right: 130px;
}

.but5 {
  position: absolute;
  width: 120px;
  height: 50px;
  left: 1320px;
  top: 294px;
  background: #F16214;
  border-radius: 13px;
  border: none;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 550;
  font-size: 19px;
  line-height: 150%;
  color: #FFFFFF;
  cursor: pointer;
}

.eighth-part {
  position: absolute;
  width: 1898px;
  height: 477px;
  left: 0px;
  top: 5910px;
  background: #F5F5F5;
}
.eighth-part .foot1 {
  position: absolute;
  width: 270px;
  height: 218px;
  left: 375px;
  top: 100px;
}
.eighth-part .foot1 .txt-end {
  width: 250px;
  height: 66px;
  left: 375px;
  top: 179px;
  margin-top: 34px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 16.5px;
  line-height: 150%;
  color: #888888;
}
.eighth-part .foot1 .face2 {
  margin-top: 33px;
  margin-right: 23px;
  margin-left: -10px;
}
.eighth-part .foot1 .insta2 {
  margin-top: 33px;
  margin-right: 33px;
  margin-left: -10px;
}
.eighth-part .foot1 .twit2 {
  margin-top: 33px;
  margin-right: 23px;
  margin-left: -10px;
}
.eighth-part .foot1 .linked2 {
  margin-top: 33px;
}
.eighth-part .foot2 {
  position: absolute;
  width: 217px;
  height: 165px;
  left: 674px;
  top: 106px;
}
.eighth-part .foot2 .OR {
  position: absolute;
  width: 203px;
  height: 33px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  color: #000000;
}
.eighth-part .foot2 .txt-OR {
  position: absolute;
  width: 216px;
  height: 96px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #888888;
  padding-top: 74px;
}
.eighth-part .foot3 {
  position: absolute;
  width: 124px;
  height: 229px;
  left: 974px;
  top: 106px;
}
.eighth-part .foot3 .UL {
  position: absolute;
  width: 94px;
  height: 33px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  color: #000000;
}
.eighth-part .foot3 .txt-UL {
  position: absolute;
  width: 123px;
  height: 160px;
  padding-top: 70px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 17.5px;
  line-height: 35px;
  color: #888888;
}
.eighth-part .foot4 {
  position: absolute;
  width: 271px;
  height: 235px;
  left: 1274px;
  top: 106px;
}
.eighth-part .foot4 .CU {
  position: absolute;
  width: 112px;
  height: 33px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  color: #000000;
}
.eighth-part .foot4 .txt-CU {
  position: absolute;
  width: 178px;
  height: 96px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  padding-top: 70px;
  line-height: 33px;
  color: #888888;
}
.eighth-part .foot4 .input2 {
  position: absolute;
  width: 300px;
  height: 50px;
  margin-top: 200px;
  background: #FFFFFF;
  border-radius: 13px;
  font-size: 25px;
  padding-left: 5px;
  border: none;
  outline: none;
  padding-right: 130px;
  padding-right: 50px;
}
.eighth-part .foot4 .foot-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 255px;
  top: 204px;
  font-size: 18px;
}
.eighth-part .line-foot {
  position: absolute;
  width: 1198px;
  height: 0px;
  left: 375px;
  top: 402px;
  border: 1px solid #DDDDDD;
}
.eighth-part .copy {
  position: absolute;
  width: 299px;
  height: 26px;
  left: 811px;
  bottom: 26px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 170%;
  color: #888888;
}

/*# sourceMappingURL=style.css.map */
